<p>This is the dashboard view.</p>

<pre>
loads of stuff needed in here 
leave this to last

use this page to test directives for now
</pre>
<b>select contact directive</b>
<select-contact avatar="true" 
                min-contacts="1"
                max-contacts="3"
                search-users="true"
                readonly="false"
                selected-contact="'iJC2mQvYMVZuqpH3dKaPESIjPD12'"
                ></select-contact><br/>

<select-contact avatar="false" 
                min-contacts="1"
                max-contacts="4"
                search-users="true"
                readonly="true"
                selected-contact="'iJC2mQvYMVZuqpH3dKaPESIjPD12'"
                ></select-contact>