
<div class="jumbotron">
  <h1>Almost there</h1>
  <p>We're polishing off some of the key features in UbiDoBi and we'll be launching shortly</p>
  <p><a class="btn btn-primary btn-lg" href="#about" role="button">Learn more</a></p>
</div>
<!--<main-carousel></main-carousel> -->


  <div>


      <a name="features" style='height:65px'></a>
      <div masonry >
    <div class="masonry-brick col-md-4" ng-repeat="brick in bricks">
        <div class="panel-heading">
              <h3><i class="material-icons">{{brick.icon}}</i>{{brick.heading}}</h3>
              <p>{{brick.text}}
              </p>
            </div>
    </div>
</div>



      <a name="benefits"></a>
      <div masonry>
  <div class="masonry-brick col-md-6 col-sm-12">
              <div>
                <h2 class="center brown-text"><i class="material-icons">account_balance</i></h2>
                <h5 class="center">Executives</h5>

                <p>
                  Real-time dashboards give you unprecedented visibility of projects and other work programs within your organisation. From high-level health checks, you can drill-down and examine each project, with the ability to review any change through a complete audit trail.
                </p>
              </div>
          </div>

  <div class="masonry-brick col-md-6 col-sm-12">
              <div>
                <h2 class="center brown-text"><i class="material-icons">assignment_ind</i></h2>
                <h5 class="center">Program and project managers</h5>

                <p >
                  Delegate tasks and responsibilities to subject matter experts within your teams. Review budgets, timelines and progress across all workstreams. Use "nudges" to alert team members when their tasks are at risk of overrun. Real-time and accurate access to every aspect of your projects without the need for status and planning meetings.

                </p>
              </div>
          </div>


  <div class="masonry-brick col-md-6 col-sm-12">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">supervisor_account</i></h2>
                <h5 class="center">Project stakeholders</h5>

                <p class="light">Whether you're responsibility for delivering core components or interested in peripheral aspects, you have complete visibility of all projects. Feel free to leave or reply to a comment on individual tasks or workstreams, seek clarification on expectations or simply ensure that timelines align to expectations. </p>
              </div>
          </div>


  <div class="masonry-brick col-md-6 col-sm-12">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">face</i></h2>
                <h5 class="center">Team members</h5>

                <p class="light">
                  See the big picture, regardless of how central your role is. Work in the context of organisational priorities and ensure that you receive
                  the recognition you deserve.
                </p>
              </div>
          </div>


  <div class="masonry-brick col-md-12 col-sm-12">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">public</i></h2>
                <h5 class="center">Everyone</h5>

                <p class="light">
                  Create public updates and share with the wider Ubi network. Use previous successes to drive new businesss as a verified service provider. Share with and learn from the experiences of others. Utilise project templates and recipes to quickly and effortlessly initiate new projects.
                </p>
              </div>
          </div>

        </div>
  </div>
      <a name='about'></a>
      <div>
      <div>UbiDoBi is a free project management and collaboration service</div>
      
      <div>
        UbiDoBi isn't just about sharing to-do lists with colleagues. We look at every aspect of delivering a product and include unique, intuitive tools to help you with
        <ul>
          <li>Brainstorming</li>
          <li>System design</li>
          <li>Troubleshooting</li>
          <li>Online marketing</li>
        </ul>
        Some of the many tools to make life easier include:
        <ul>
          <li>Cloud-based collaboration</li>
          <li>Automated project reports</li>
          <li>Real-time dashboards</li>
          <li>Shared, interactive workspaces, including document reviews and whiteboards</li>
          <li>Any device, anywhere</li>
          <li>Push notifications</li>
        </ul><br/></p></div>

      <div>
        <h4>...take one bite at a time</h4>
        <p >In the words of
          <a href="https://simple.wikiquote.org/wiki/Creighton_Abrams" target="_blank">Creighton Abrams</a>, "When eating an elephant take one bite at a time". when faced with a daunting, complex problem, it is best to take it one step at a time. </p>
        
        <p>UbiDoBi is built on this premise, where even the most challenging projects can be delegated and decomposed into a collection of manageable, coordinated to-do lists.
        </p></div>
</div>
      
      
      
      
      
      <div>We intend to launch the service in the coming weeks - if you'd like to be notified when the site launches 
          or as development progresses, please add your details below and we'll be in touch</div>
      <contact-us-launch></contact-us-launch>
      
      