<pre>
    {{project}}
</pre>
<div class="column">
    <h1>{{project.title}}</h1>
</div>
<div class="row flex">
    <div class="col-md-1">
        <a ng-href="" class="btn btn-default">Overview</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Tasks</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Messages</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Gantt Chart</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Calendar</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Tasks</a>
    </div>
    
    <div class="col-md-1">    
        <a ng-href="" class="btn btn-default">People</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Risks</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Actions</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Issues</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Decisions</a>
    </div><div class="col-md-1">
        <a ng-href="" class="btn btn-default">Reports</a>
        
    </div>
</div>
<div class="row flex">
    <div class="col-md-6">
        People
    </div>
        <div class="col-md-4">
       Budget
    </div>
    <div class="col-md-2">
        Milestone list
    </div>
    
        <div class="col-md-3">
        Tasks and Events
    </div>
        <div class="col-md-6">
       risks
    </div>
    <div class="col-md-3">
        notes
    </div>
</div>