<script type="text/ng-template" id="nodes_renderer.html">
  <div class="tree-node tree-node-content" ng-hide="node.deleted">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
	    <span class="glyphicon"
   	     ng-class="{
      	    'glyphicon-chevron-right': collapsed,
      	    'glyphicon-chevron-down': !collapsed
        }">
        </span></a>

<a class="btn btn-default btn-xs" ng-if="!(node.nodes && node.nodes.length > 0)" data-nodrag ng-click="complete(node)">
	    <span class="glyphicon"
   	     ng-class="{
      	    'glyphicon-check': node.completed,
      	    'glyphicon-unchecked': !node.completed
        }">
        </span></a>



    <a class="btn btn-success btn-xs" ui-tree-handle><span class="glyphicon glyphicon-move"></span></a>
    <a href="#" editable-text="node.name" onaftersave="updateTask(node)">{{ node.name || "Click here to change name" }}</a>
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="rmNode(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
      <a class="pull-right btn btn-primary btn-xs">  <select-contact avatar="true" 
                min-contacts="1"
                max-contacts="3"
                search-users="true"
                readonly="false"
                selected-contact="node.assignedTo"
                ></select-contact>
                </a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" ng-hide="node.deleted">
    <li ng-repeat="node in node.nodes | filter:notDeleted" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<div class="row">
  <div class="col-sm-12" ng-if="listSelected">
      <span>List: {{list.title}}</span>
    <button ng-click="expandAll()">Expand all</button>
    <button ng-click="collapseAll()">Collapse all</button>
  </div>
</div>


<div ui-tree="treeOptions" callbacks="treeOptions" ng-if="listSelected">
  <ol ui-tree-nodes ng-model="data" >
    <li ng-repeat="node in data |filter: hideCompleted(completed)" ui-tree-node ng-include="'nodes_renderer.html'" ng-hide="node.deleted"></li>
    <li >
	  <div class="tree-node tree-node-content" ng-if="listSelected">
NEW<input ng-model="newTask.txt">
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="clearNew()"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newItem(newTask.txt)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
  </div>
	
	
	</li>
  </ol>
